body{
    background-color: gray;
}
div{
    background-color: darkorange; border-radius: 5px; width: 130px; margin: 25px; float: right; padding-left: 35px;
}
.header2{
    display: flex;
}
.desc{
    background-color: grey;
    width: 240px;
    padding-right: 700px;
    font-size: x-large;
}