body{
    background-color: gray;
}
.switch{
    background-color: darkorange; border-radius: 5px; width: 130px; margin: 25px; float: right; padding-left: 35px;
}
.header2{
    display: flex;
}
.desc{
    background-color: grey;
    width: 240px;
    padding-right: 700px;
    font-size: x-large;
}
.card {
  background-color: darkorange;
  color: white;
  padding: 1rem;
  height: 4rem;
  z-index: 1;
}
.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    background-color: dimgrey;
    z-index: 2;
    max-height: 1200px;
  }
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }